

#left {
    -fx-background-color: #FDCB58;
}

#right {
    -fx-background-color: #FFFFFF;
}

#appName {
    -fx-font-size: 35px;
    -fx-font-weight: bold;
    -fx-text-fill: #F1F1F1;
}

#TextHeader {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

#HeaderBody {
    -fx-font-size: 17px;
}

.label {
    -fx-font-size: 15px;
    -fx-text-fill: #555555;
}

.input {
    -fx-font-size: 15px;
    -fx-border-color: #CCCCCC;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}

.input:focused {
       -fx-background-color: white;
       -fx-border-color: #FDCB58;
       -fx-outline: none;
}

.checkbox {
    -fx-font-size: 13px;
    -fx-text-fill: #666666;
}

.button {
    -fx-background-color: #FDCB58;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-color: #FFC107;
}

.link {
    -fx-font-size: 15px;
    -fx-text-fill: #FDCB58;
    -fx-underline: false;
    -fx-cursor: hand;
}

.link:hover {
    -fx-text-fill: #B6923F;
}
